[Desktop Entry]
Name=Luanti
GenericName=Luanti
Comment=Multiplayer infinite-world block sandbox
Exec=luanti
Icon=${SNAP}/meta/gui/luanti.svg
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
